.parent-div {
  background-color: grey;
  display: flex;
  width: 100%;
  border-collapse: collapse; /* Add this line */
}

td, th {
  border: 1px solid black; /* Add this line */
}

.table {
  width: 100%;
  background-color: grey;
  table-layout: fixed;
}

.widecolumn {
  width: 100%;
  background-color: grey;
  word-wrap: break-word;
}

.narrowcolumn {
  width: 20%;
  background-color: grey;
  word-wrap: break-word;
}
